In [2]:
import pandas as pd

train_test_users = pd.read_csv("C:\\Users\\Personal\\DSp\\Datasets\\Problems to solve\\Osmosis Destination finder_Train-Test-users.csv")
countries = pd.read_csv("C:\\Users\\Personal\\DSp\\Datasets\\Problems to solve\\Osmosis Destination finder_countries.csv")
age_gender = pd.read_csv("C:\\Users\\Personal\\DSp\\Datasets\\Problems to solve\\Osmosis Destination finder_age_gender_bkts.csv")
web_ses = pd.read_csv("C:\\Users\\Personal\\DSp\\Datasets\\Problems to solve\\SS.csv")

In [7]:
web_ses.head(20)

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0
5,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,7703.0
6,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,115.0
7,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,831.0
8,d1mm9tcy42,index,view,view_search_results,Windows Desktop,20842.0
9,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,683.0
10,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,59274.0
11,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,95.0
12,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1399.0
13,d1mm9tcy42,index,view,view_search_results,Windows Desktop,74886.0
14,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,255.0
15,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,8134.0
16,d1mm9tcy42,similar_listings,data,similar_listings,Windows Desktop,183.0
17,d1mm9tcy42,ajax_refresh_subtotal,click,change_trip_characteristics,Windows Desktop,175570.0
18,d1mm9tcy42,show,NaN,NaN,Windows Desktop,86.0
19,d1mm9tcy42,personalize,data,wishlist_content_update,Windows Desktop,1535.0

In [20]:
web_ses.user_id.nunique()

15500

In [8]:
web_ses.device_type.unique()

array(['Windows Desktop', '-unknown-', 'Mac Desktop', 'Android Phone',
       'iPhone', 'iPad Tablet', 'Android App Unknown Phone/Tablet',
       'Linux Desktop', 'Tablet', 'Chromebook', 'Blackberry', 'iPodtouch',
       'Windows Phone', 'Opera Phone'], dtype=object)

In [21]:
web_ses.isnull().sum()

user_id            3563
action            10834
action_type      192193
action_detail    192193
device_type           0
secs_elapsed      15566
dtype: int64

In [22]:
web_ses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
user_id          1045012 non-null object
action           1037741 non-null object
action_type      856382 non-null object
action_detail    856382 non-null object
device_type      1048575 non-null object
secs_elapsed     1033009 non-null float64
dtypes: float64(1), object(5)
memory usage: 48.0+ MB

In [20]:
web_ses.action.unique()

array(['lookup', 'search_results', 'personalize', 'index',
       'similar_listings', 'ajax_refresh_subtotal', 'show',
       'header_userpic', 'ask_question', nan,
       'other_hosting_reviews_first', 'hosting_social_proof',
       'decision_tree', 'recent_reservations', 'faq_experiment_ids',
       'multi', 'active', 'dashboard', 'create', 'confirm_email',
       'show_personalize', 'verify', 'pending', 'requested', 'concierge',
       'faq', 'clear_reservation', 'cancellation_policies',
       'track_page_view', 'update', 'my', 'campaigns', 'notifications',
       'listings', 'unavailabilities', 'ajax_lwlb_contact',
       'ajax_check_dates', 'qt2', 'request_new_confirm_email',
       'ajax_photo_widget_form_iframe', 'facebook_auto_login', 'identity',
       'qt_reply_v2', 'travel_plans_current', 'complete_status',
       'populate_from_facebook', 'kba_update', 'kba', 'login',
       'authenticate', 'calendar_tab_inner2', 'other_hosting_reviews',
       'social_connections', 'relationship', '15', 'collections', '12',
       'jumio_redirect', 'jumio_token', 'login_modal', 'domains',
       'toggle_archived_thread', 'search', 'edit_verification', 'edit',
       'ajax_ldp', 'connect', 'account', 'delete', 'phone_number_widget',
       'callback', 'signup_modal', '10', 'open_graph_setting', 'reviews',
       'signup_login', 'payment_instruments', 'payment_methods', 'pay',
       'unread', 'at_checkpoint', 'push_notification_callback',
       'faq_category', 'localization_settings', 'update_notifications',
       'manage_listing', 'set_user', 'references',
       'languages_multiselect', 'salute', 'rentals', 'currencies', 'new',
       'position', 'populate_help_dropdown', 'popular', 'popular_listing',
       'listing', 'available', 'glob', 'this_hosting_reviews', 'widget',
       'complete', 'profile_pic', 'signature', 'apply_reservation',
       'ajax_statsd', 'travel', 'tos_confirm', 'uptodate',
       'ajax_payout_options_by_country', 'payout_preferences',
       'payout_update', 'ajax_payout_edit', 'pending_tickets', 'issue',
       'contact_new', 'itinerary', 'receipt',
       'update_hide_from_search_engines', 'settings', 'privacy',
       'reviews_new', 'add_guests', 'ajax_image_upload', 'qt_with',
       'webcam_upload', 'friends', 'ajax_google_translate_description',
       'trust', 'guarantee', 'supported', 'countries', 'status', 'upload',
       'authorize', 'rate', 'remove_dashboard_alert', 'ajax_get_results',
       'recommend', 'change_currency', 'transaction_history_paginated',
       'transaction_history', 'set_password', 'cancel',
       'phone_verification_modal', 'submit_contact', 'detect_fb_session',
       'tell_a_friend', 'change', 'clickthrough',
       'multi_message_attributes', 'update_friends_display',
       'my_listings', 'email_itinerary_colorbox', 'mobile_landing_page',
       'create_ach', 'country_options', '11', 'host_2013', 'terms',
       'multi_message', 'ajax_send_message', 'airbnb_picks',
       'friends_new', 'reputation', 'complete_redirect',
       'toggle_starred_thread', 'email_share', 'email_wishlist',
       'destroy', 'add_note', 'overview', 'requirements',
       'update_reservation_requirements', 'image_order', 'review_page',
       'ajax_worth', 'place_worth', 'google_importer',
       'change_availability', 'hospitality', 'change_password', 'feed',
       'host_summary', 'ajax_price_and_availability', 'jumio',
       'guest_booked_elsewhere', 'about_us', 'founders',
       'travel_plans_previous', 'why_host', 'hospitality_standards',
       'social', 'recommendations', 'update_cached', 'become_user',
       'departments', 'department', 'office_location', 'photography',
       'preapproval', 'maybe_information', 'toggle_availability',
       'payoneer_account_redirect', 'forgot_password', 'new_host',
       'payoneer_signup_complete', 'ajax_google_translate', 'onenight',
       'approve', 'nyan', 'booking', 'payout_delete',
       'change_default_payout', 'envoy_bank_details_redirect', 'respond',
       'request_photography', 'zendesk_login_jwt', 'ajax_photo_widget',
       'message', 'southern-europe', 'life', 'press_release',
       'media_resources', 'press_news', 'referrer_status',
       'create_multiple', 'load_more', 'create_paypal',
       'locale_from_host', 'terms_and_conditions', 'invalid_action',
       'photography_update', 'badge', 'apply', 'redirect', 'pricing',
       'apply_code', 'slideshow', 'locations',
       'ajax_google_translate_reviews', 'new_session', 'has_profile_pic'],
      dtype=object)

In [27]:
age_gender.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420 entries, 0 to 419
Data columns (total 5 columns):
age_bucket                 420 non-null object
country_destination        420 non-null object
gender                     420 non-null object
population_in_thousands    420 non-null float64
year                       420 non-null float64
dtypes: float64(2), object(3)
memory usage: 16.5+ KB

In [4]:
age_gender.head(10)

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0
2      90-94                  AU   male                     47.0  2015.0
3      85-89                  AU   male                    118.0  2015.0
4      80-84                  AU   male                    199.0  2015.0
5      75-79                  AU   male                    298.0  2015.0
6      70-74                  AU   male                    415.0  2015.0
7      65-69                  AU   male                    574.0  2015.0
8      60-64                  AU   male                    636.0  2015.0
9      55-59                  AU   male                    714.0  2015.0

In [17]:
age_gender.isnull().sum()

age_bucket                 0
country_destination        0
gender                     0
population_in_thousands    0
year                       0
dtype: int64

In [14]:
age_gender.country_destination.unique()

array(['AU', 'CA', 'DE', 'ES', 'FR', 'GB', 'IT', 'NL', 'PT', 'US'],
      dtype=object)

In [15]:
age_gender.gender.unique()

array(['male', 'female'], dtype=object)

In [23]:
countries.isnull().sum()

country_destination              0
lat_destination                  0
lng_destination                  0
distance_km                      0
destination_km2                  0
destination_language             0
language_levenshtein_distance    0
dtype: int64

In [3]:
countries.head(20)

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.00
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.00
2,DE,51.165707,10.452764,7879.5680,357022.0,deu,72.61
3,ES,39.896027,-2.487694,7730.7240,505370.0,spa,92.25
4,FR,46.232193,2.209667,7682.9450,643801.0,fra,92.06
5,GB,54.633220,-3.432277,6883.6590,243610.0,eng,0.00
6,IT,41.873990,12.564167,8636.6310,301340.0,ita,89.40
7,NL,52.133057,5.295250,7524.3203,41543.0,nld,63.22
8,PT,39.553444,-7.839319,7355.2534,92090.0,por,95.45
9,US,36.966427,-95.844030,0.0000,9826675.0,eng,0.00

In [21]:
train_test_users.nunique()

id                         213451
date_account_created         1634
timestamp_first_active     213451
date_first_booking           1976
gender                          4
age                           127
signup_method                   3
signup_flow                    17
language                       25
affiliate_channel               8
affiliate_provider             18
first_affiliate_tracked         7
signup_app                      4
first_device_type               9
first_browser                  52
country_destination            12
dtype: int64

In [24]:
train_test_users.isnull().sum()

id                              0
date_account_created            0
timestamp_first_active          0
date_first_booking         124543
gender                          0
age                         87990
signup_method                   0
signup_flow                     0
language                        0
affiliate_channel               0
affiliate_provider              0
first_affiliate_tracked      6065
signup_app                      0
first_device_type               0
first_browser                   0
country_destination             0
dtype: int64

In [26]:
train_test_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213451 entries, 0 to 213450
Data columns (total 16 columns):
id                         213451 non-null object
date_account_created       213451 non-null object
timestamp_first_active     213451 non-null int64
date_first_booking         88908 non-null object
gender                     213451 non-null object
age                        125461 non-null float64
signup_method              213451 non-null object
signup_flow                213451 non-null int64
language                   213451 non-null object
affiliate_channel          213451 non-null object
affiliate_provider         213451 non-null object
first_affiliate_tracked    207386 non-null object
signup_app                 213451 non-null object
first_device_type          213451 non-null object
first_browser              213451 non-null object
country_destination        213451 non-null object
dtypes: float64(1), int64(2), object(13)
memory usage: 26.1+ MB

In [11]:
train_test_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [12]:
train_test_users.signup_flow.unique()

array([ 0,  3,  2,  1, 24,  8,  6,  5, 10, 25, 12,  4, 16, 15, 20, 21, 23],
      dtype=int64)

In [13]:
train_test_users.first_affiliate_tracked.unique()

array(['untracked', 'omg', nan, 'linked', 'tracked-other', 'product',
       'marketing', 'local ops'], dtype=object)